body{
    background: #d0f1eb;
}

.container{
    margin-top: 140px;
    max-width: 900px;
    border-radius: 2em;   
    border: 3px solid #acc9c3;
    background-color: aliceblue;
    
    
}
.box2{
    text-align: center;
}
h1{
    color:rgb(51, 206, 20);
    margin-top: 10px;
    text-align: center;
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.resultadofinal{
     color: rgb(170, 41, 41);
     text-align: center;
     font-size: 1.5em;
     font-family: 'Times New Roman', Times, serif;
}
.resultadoxi{
    margin-left: 9%;
    color: #000;
    display: inline-block;
    /*border: 3px solid red;*/
    font-family: 'Times New Roman', Times, serif;
}
.resultadofx{
    margin-left: 10px;
    color: #000;
    display: inline-block;
    /*border: 3px solid red;*/
    font-family: 'Times New Roman', Times, serif;
}

input{
   margin-top: 10px;
}

.datos1{
    margin-top: 28px;
    margin-left: 5%;
    /*border: 3px solid black;*/
    width: 400px;
    display: inline-block;
   
}
.datos2{
    /*border: 3px solid black;*/
    margin-top: 30px;
    margin-right: 50px;
    width: 300px;
    height: 200px;
    display: inline-block;
    font-size: 0.8em;
    margin-left: 10%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow: hidden;
}
.dat{
    /*border: 3px solid black;*/
    display: flex;
}

